$shadowColor: rgba(0, 0, 0, 0.25);
$bgc: #ffffff;
@mixin button($width: 48px, $height: 48px) {
  width: $width;
  height: $height;
  background: #ffffff;
  box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin buttonImage($width: 48px, $height: 48px) {
  width: $width;
  height: $height;
}

@media (max-width: 1023px) {
  $nomalImageTimes: 0.6;
  .grid {
    .guraBig {
      position: fixed;
      left:50%;
      top:50%;
      transform: translate(-50%, -50%);
      width: 550px;
      height: 70vh;
      z-index: -1;
    }
    .hukidashiText {
      width:75vw;
      text-align: center;
      z-index: 3;
      position: absolute;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      font-weight: bold;
    }

    .hukidashiTopSankaku {
      position: absolute;
      left: 50%;
      top: 41.5%;
      transform: translate(-50%, -50%);
      opacity: 0.8;
    }

    .hukidashiBottomSankaku {
      position: absolute;
      left: 50%;
      top: 80%;
      transform: translate(-50%, -50%);
      opacity: 0.8;
    }

    .hukidashiArea {
      position: absolute;
      width: 80vw;
      opacity: 0.8;
      height: 35vh;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -50%);
      z-index: 2;
      padding:10px;
      box-sizing: border-box;

      background: #ffffff;
      box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.25);
      border-radius: 40px;
    }
    .voiceModal {
      position: absolute;
      width: 80vw;
      height: 70vh;
      left: 50%;
      top: 50%;
      z-index: 10;
      transform: translate(-50%, -50%);
      background: #ffffff;
      box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.25);
      border-radius: 40px;
      .text {
        margin-top: 10vh;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        color: #f45d34;
      }
      .mic {
        position: absolute;
        top: 30vh;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40vw;
        height: 30vh;
      }
      .stop {
        position: absolute;
        top: 55vh;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30vw;
        height: 30vh;
      }
    }
    .modalBG {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.5);
    }

    .topArea {
      display: flex;

      .topLeftArea {
        width: 100vw;
        height: 86px;
        position: relative;
        display: flex;
        align-items: center;
        .icon {
          position: absolute;
          z-index: 2;
          @include button($width: 85px, $height: 85px);
          .iconImage {
            width: 65px;
            height: 65px;
          }
        }
        .nameObj {
          position: absolute;
          display: flex;
          align-items: center;
          width: 160px;
          height: 47px;
          left: 70px;
          background: $bgc;
          box-shadow: 0px 4px 4px $shadowColor;
          border-radius: 0px 150px 150px 0px;
          .nameText {
            right: 0px;
            width: 100%;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #f45d34;
            text-align: center;
          }
        }

        .tokenObj {
          position: absolute;
          right: 0px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          margin-left: 250px;
          width: 114px;
          height: 47px;
          background: $bgc;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 150px 0px 0px 150px;
          .tokenImage {
            width: 32px;
            height: 25px;
          }
          .tokenText {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 44px;
            text-align: right;
            color: #f45d34;
          }
          .tokenPlusImage {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .menuButtonFlex {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 0px;
      width: 11vw;
      gap: 3vh;
      padding-top: 13vh;
      right: 15px;
      .settingArea {
        @include button($width: 48px, $height: 48px);
        .settingImage {
          @include buttonImage(
            $width: 48px * $nomalImageTimes,
            $height: 48px * $nomalImageTimes
          );
        }
      }
      .noticeArea {
        @include button($width: 48px, $height: 48px);
        .noticeImage {
          @include buttonImage(
            $width: 48px * $nomalImageTimes,
            $height: 48px * $nomalImageTimes
          );
        }
      }
      .youtubeArea {
        @include button($width: 48px, $height: 48px);
        .youtubeImage {
          @include buttonImage(
            $width: 48px * $nomalImageTimes,
            $height: 48px * $nomalImageTimes
          );
        }
      }
      .voteArea {
        @include button($width: 48px, $height: 48px);
        .voteImage {
          @include buttonImage(
            $width: 48px * $nomalImageTimes,
            $height: 48px * $nomalImageTimes
          );
        }
      }
      .shopArea {
        @include button($width: 48px, $height: 48px);
        .shopImage {
          @include buttonImage(
            $width: 48px * $nomalImageTimes,
            $height: 48px * $nomalImageTimes
          );
        }
      }
    }
    .bottomArea {
      margin-top: 80vh;
      .changeArea {
        position: absolute;
        left: 10px;
        top: 13vh;
        @include button($width: 48px, $height: 48px);
        .changeImage {
          @include buttonImage($width: 40px, $height: 40px);
        }
      }
      .textarea {
        margin-top: -9.5vh;
        height: 48px;
        display: flex;
        align-items: flex-end;
        .inputTextArea {
          min-height: 48px;
          position: absolute;
          bottom: 40px;
          left: 15px;
          background: #ffffff;
          box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.25);
          border-radius: 98px;
          width: 76vw;
          display: flex;
          align-items: center;
          justify-content: left;
          gap: 10px;
          padding-left: 15px;
          box-sizing: border-box;

          .chatImage {
            @include buttonImage(
              $width: 48px * $nomalImageTimes,
              $height: 48px * $nomalImageTimes
            );
          }
          .inputTextObj {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 10px;
            box-sizing: border-box;
            max-height: 8vh;
            font-size: 20px;
            overflow: auto;

            width: 55vw;
            min-height: 48px;
            border: none;
            outline: none;
            resize: none;

            border-radius: 0 100px 100px 0;
          }
        }
      }
      .logArea {
        position: absolute;
        right: 4.5vw;
        bottom: 105px;
        @include button($width: 48px, $height: 48px);
        .logImage {
          @include buttonImage(
            $width: 48px * $nomalImageTimes,
            $height: 48px * $nomalImageTimes
          );
        }
      }
      .voiceArea {
        position: absolute;
        right: 4.5vw;
        bottom: 40px;
        @include button($width: 48px, $height: 48px);
        .voiceImage {
          @include buttonImage(
            $width: 48px * $nomalImageTimes,
            $height: 48px * $nomalImageTimes
          );
        }
        .postImage {
          @include buttonImage(
            $width: 48px * $nomalImageTimes,
            $height: 48px * $nomalImageTimes
          );
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  $nomalImageTimes: 1.1;
  .grid {
    .guraBig {
      position: fixed;
      left:50%;
      top:5%;
      transform: translate(-50%, 0%);
      width: 700px;
      height: 750px;
      z-index: -1;
    }
    .hukidashiText {
      width:48vw;
      text-align: center;
      z-index: 3;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      font-weight: bold;
    }

    .hukidashiTopSankaku {
      position: absolute;
      left: 50%;
      top: 42%;
      transform: translate(-50%, -50%);
    }

    .hukidashiBottomSankaku {
      position: absolute;
      left: 50%;
      top: 78%;
      transform: translate(-50%, -50%);
    }

    .hukidashiArea {
      position: absolute;
      width: 50vw;
      height: 35vh;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -50%);
      z-index: 2;
      padding:10px;
      box-sizing: border-box;

      background: #ffffff;
      box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.25);
      border-radius: 40px;
    }

    .voiceModal {
      position: absolute;
      width: 60vw;
      height: 70vh;
      left: 50%;
      top: 50%;
      z-index: 10;
      transform: translate(-50%, -50%);
      background: #ffffff;
      box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.25);
      border-radius: 40px;
      .text {
        margin-top: 10vh;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        color: #f45d34;
      }
      .mic {
        position: absolute;
        top: 33vh;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20vw;
        height: 20vh;
      }
      .stop {
        position: absolute;
        top: 55vh;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 15vw;
        height: 15vh;
      }
    }

    .topArea {
      display: flex;

      .topLeftArea {
        width: 89vw;
        height: 161.5px;
        position: relative;
        display: flex;
        align-items: center;
        .icon {
          position: absolute;
          z-index: 2;
          @include button($width: 85px, $height: 85px);
          .iconImage {
            width: 85px;
            height: 85px;
          }
          @media (min-width: 1024px) {
            @include button($width: 85px * 1.9, $height: 85px * 1.9);
            .iconImage {
              width: 75px * 1.5;
              height: 75px * 1.5;
            }
          }
        }
        .nameObj {
          position: absolute;
          display: flex;
          align-items: center;
          width: 400px;
          height: 87px;
          left: 130px;
          background: $bgc;
          box-shadow: 0px 4px 4px $shadowColor;
          border-radius: 0px 150px 150px 0px;
          .nameText {
            right: 0px;
            width: 100%;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 24px;
            color: #f45d34;
            text-align: center;
          }
        }

        .tokenObj {
          display: flex;
          align-items: center;
          justify-content: space-around;
          margin-top: 300px;
          width: 253px;
          height: 87px;
          background: $bgc;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 0px 150px 150px 0px;

          .tokenText {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            text-align: right;
            color: #f45d34;
          }
        }
      }
    }
    .menuButtonFlex {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 0px;
      width: 11vw;
      gap: 3vh;
      padding-top: 5vh;
      .settingArea {
        @include button($width: 48px * 1.9, $height: 48px * 1.9);
        .settingImage {
          @include buttonImage(
            $width: 48px * $nomalImageTimes,
            $height: 48px * $nomalImageTimes
          );
        }
      }
      .noticeArea {
        @include button($width: 48px * 1.9, $height: 48px * 1.9);
        .noticeImage {
          @include buttonImage(
            $width: 48px * $nomalImageTimes,
            $height: 48px * $nomalImageTimes
          );
        }
      }
      .youtubeArea {
        @include button($width: 48px * 1.9, $height: 48px * 1.9);
        .youtubeImage {
          @include buttonImage(
            $width: 48px * $nomalImageTimes,
            $height: 48px * $nomalImageTimes
          );
        }
      }
      .voteArea {
        @include button($width: 48px * 1.9, $height: 48px * 1.9);
        .voteImage {
          @include buttonImage(
            $width: 48px * $nomalImageTimes,
            $height: 48px * $nomalImageTimes
          );
        }
      }
      .shopArea {
        @include button($width: 48px * 1.9, $height: 48px * 1.9);
        .shopImage {
          @include buttonImage(
            $width: 48px * $nomalImageTimes,
            $height: 48px * $nomalImageTimes
          );
        }
      }
    }
    @media (min-height: 915px) {
      .bottomArea {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        margin-top: 23vh;
        .changeArea {
          @include button($width: 48px * 1.9, $height: 48px * 1.9);
          .changeImage {
            @include buttonImage($width: 48px * 1.5, $height: 48px * 1.5);
          }
        }
      }
    }
    @media (max-height: 914px) {
      .bottomArea {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        margin-top: 15vh;
        .changeArea {
          @include button($width: 48px * 1.9, $height: 48px * 1.9);
          .changeImage {
            @include buttonImage($width: 48px * 1.5, $height: 48px * 1.5);
          }
        }
      }
    }
    @media (max-height: 810px) {
      .bottomArea {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        margin-top: 7vh;
        .changeArea {
          @include button($width: 48px * 1.9, $height: 48px * 1.9);
          .changeImage {
            @include buttonImage($width: 48px * 1.5, $height: 48px * 1.5);
          }
        }
      }
    }
    .textarea {
      margin-top: -9.5vh;
      height: 18vh;
      display: flex;
      align-items: flex-end;
      .inputTextArea {
        background: #ffffff;
        box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.25);
        border-radius: 98px;
        width: 63.2vw;
        height: auto;
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        .chatImage {
          margin-left: 30px;
          @include buttonImage($width: 36px * 1.5, $height: 36px * 1.5);
        }
        .inputTextObj {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 2vh;
          box-sizing: border-box;
          width: 50vw;
          max-height: 18vh;
          border: none;
          outline: none;
          font-size: 3.8vh;
          resize: none;
          overflow: auto;
          border-radius: 0 100px 100px 0;
        }
      }
    }
    .logArea {
      @include button($width: 48px * 1.9, $height: 48px * 1.9);
      .logImage {
        @include buttonImage(
          $width: 48px * $nomalImageTimes,
          $height: 48px * $nomalImageTimes
        );
      }
    }
    .voiceArea {
      @include button($width: 48px * 1.9, $height: 48px * 1.9);
      .voiceImage {
        @include buttonImage(
          $width: 48px * $nomalImageTimes,
          $height: 48px * $nomalImageTimes
        );
      }
      .postImage {
        @include buttonImage(
          $width: 48px * $nomalImageTimes,
          $height: 48px * $nomalImageTimes
        );
      }
    }
  }
}
